# Extracting Data using API

## Objectives

*   Collect exchange rate data using an API
*   Store the data as a CSV

We are going to be using Python and several Python libraries. The cells below will install these libraries when executed, and then comment them

In [2]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Importing libraries

Import `requests` and `pandas` libraries.

In [3]:
import requests
import pandas as pd

## Extracting Data Using an API

Using `ExchangeRate-API` we will extract currency exchange rate data using the following link: [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01)

### Calling the API

Making a request to access the page, and then restore it as a `json` data to store it in a dataframe.

In [4]:
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=3YaI735X6ZiMpHZWCzcWy8CZeFeeWBEV"
data = requests.get(url)
data = data.json()
df = pd.DataFrame(data)
df.head()

     success   timestamp base        date       rates
AED     True  1668944523  EUR  2022-11-20    3.799944
AFN     True  1668944523  EUR  2022-11-20   91.040756
ALL     True  1668944523  EUR  2022-11-20  117.163172
AMD     True  1668944523  EUR  2022-11-20  408.829923
ANG     True  1668944523  EUR  2022-11-20    1.862986

Dropping the unnecessary columns

In [5]:
df = df.drop(columns=['success','timestamp','base','date'])

Displaying the data

In [6]:
df.head()

          rates
AED    3.799944
AFN   91.040756
ALL  117.163172
AMD  408.829923
ANG    1.862986

### Loading the Data

Using the dataframe saving it as a CSV file `exchange_rates.csv`.

In [7]:
df.to_csv('exchange_rates.csv')

**The final result**


|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

| Made by | E-Mail | LinkedIn        | Github                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| Mohamed Essam        | mohamed.esam3105@gmail.com     | [Profile](https://www.linkedin.com/in/esamtronics) | [Repositories](https://github.com/esamtronics?tab=repositories) |